<aside>
    <ul>
        <li>
            <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "Jan 2, 2006" }}</time>
        </li>

        <li>{{ T "readingTime" .ReadingTime }}</li>


        {{ if .Params.ppt }}

        <aside><a href="{{ .Params.ppt }}" class="cta-slides"><i class="fas fa-chalkboard-teacher fa-lg" aria-hidden="true"></i> slides da aula</a></aside>
        {{ end }}


        {{ if .Params.youtube }}

        <aside><i class="fab fa-youtube fa-lg" aria-hidden="true"> </i> <a href="{{ .Params.youtube }}"> <font color="#1980e6"> <b>vídeo aula</b></font></a></aside>
        {{ end }}



        {{ if .Params.github }}

        <aside><i class="fab fa-github fa-lg" aria-hidden="true"> </i> <a href="{{ .Params.github }}"> <font color="#1980e6"> <b>Código utilizado neste material</b></font></a></aside>
        {{ end }}


    </ul>
</aside>
