{{ define "main" }}

<section id="about">
  <img class="profile-picture" src="{{ "profile.png" | relURL }}" alt="Foto de Joao Arthur Brunet">
  <p>Cada post abaixo é o material de apoio para uma aula específica da disciplina. Isso inclui as notas de aulas e slides.</p>
</section>

<section id="tldr">
        <h2>TL;DR</h2>
        <ul>
          <li>Tudo é muito novo e estamos aqui juntos aprendendo. Meu papel é guiar e fazer uma curadoria cuidadosa dessa área que, como toda tendência, produz muita neblina.</li>
          <li>Vamos <strong>ler</strong> muito, <strong>praticar</strong> muito, <strong>experimentar</strong> muito e <strong>discutir</strong> muito!</li>
          <li>Há muita emoção envolvida nas notícias. Vamos ter calma, olhar para a ciência e ver como as coisas de fato estão sendo feitas na prática.</li>
          <li>Nosso maior objetivo é aprender como utilizar agentes como um engenheiro de software.</li>
          <li>Vamos ter encontros com profissionais do Nubank, QuintoAndar, VTEX, entre outras empresas importantes de tecnologia.</li>
        </ul>
</section>

<hr width=40>


<section id="home">
        <ul>
          {{ range $index, $page := first 40 (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
          <li {{if eq $index 0}}class="first"{{end}}>
            <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1> 
            {{ partial "aside" . }}
            <p>{{ .Summary }}</p>
            {{ if .Truncated }}
            <a href="{{ .RelPermalink }}">{{ T "readMore" }}</a>
            {{ end }}
          </li>
          {{ end }}
        </ul>
      </section>

{{ end }}
